{% extends "base.html" %}

{% from "macros.html" import form, result, graph %}


{% block page %}
<div class="container">
  <div id="calculations" class="row">
    {{ form() }}
  </div> <!-- calculations -->

  <div class="row">
    <button type="button" id="calculate" class="btn btn-success">Calculate my FI date!</button>
    <button type="button" id="add" class="btn btn-primary">Add calculation</button>
  </div>

  <div id="results" class="row">
    {{ result() }}
  </div>

  <div class="row">
    <div class="col-sm-12">
      {{ graph() }}
    </div>
  </div>
</div> <!-- container -->
{% endblock %} {# page #}
