{% extends "base.html" %}

{% from "macros.html" import
    form_template,
    result_template,
    graph,
    janitor_ceo_link,
    mmm_retirement_math,
%}


{% block page %}
<div class="page-header bg-primary">
  <div class="container">
    <h2>"When can I retire?"</h2>
    <p>is an important question that people of all ages ask.</p>
  </div>
</div>

<div class="container">
  <p>
    Retirement and financial independence can often seem like nothing more than
    a pipe dream for the average person. If you have an extremely low or a zero
    savings rate, you will likely have to work for the rest of your life just
    to survive.
    <br>
    <br>
    Fortunately, the inverse is also true. The higher your savings rate, the
    faster you can retire.
    {{mmm_retirement_math("Learn more.")}}
    <br>
    <br>
    When can <b>you</b> retire? I've made the following calculator for just
    that purpose! Using only your current annual income, expenses, and few
    other numbers, you can plot a course to retirement. You can even calculate
    multiple scenarios at once if you're curious what, for example, saving an
    additional 10% of your income or picking up an extra shift at work will do
    for your retirement date.
  </p>
  <hr>

  {{ form_template() }}
  <div id="calculations" class="row">
  </div> <!-- calculations -->

  <hr>
  <br>

  <div class="row">
    <button type="button" id="calculate" class="btn btn-success">Run the numbers</button>
    <button type="button" id="add" class="btn btn-primary">Add calculation</button>
  </div>

  <br>
</div> <!-- container -->

<div id="results-header" class="hidden page-header bg-primary">
  <div class="container">
    <h2>Results</h2>
  </div>
</div>

{{ result_template() }}
<div id="results-container" class="hidden container">
  <div id="results" class="row">
  </div>

  <div class="row">
    <div class="col-sm-12">
      {{ graph() }}
    </div>
  </div>
</div> <!-- container -->
{% endblock %} {# page #}
