{# macros.html - Contains simple macros for rendering parts of the page #}

{# Render a form template used for calculating financial independence #}
{% macro form_template() %}
<form id="form0" class="hidden form-horizontal col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-stop color" onclick="$(this).closest('form').find('input.color').click();"></span>
        <input id="color0" value="#00aaff" class="hidden form-control color" type="color" oninput="$(this).closest('form').find('span.color').css('color', this.value)"></input>
        <span class="name" contenteditable="true" oninput="$(this).closest('form').find('input.name').val(this.textContent);">Scenario 1</span>
        <input id="name0" value="Scenario 0" class="hidden form-control name" oninput="$(this).closest('form').find('span.name').html(this.value);"></input>
        <button type="button" class="close" aria-label="Close" onclick="$(this).closest('form').remove();">
          <span aria-hidden="true">&times;</span>
        </button>
      </h3>
    </div> <!-- panel-heading -->
    <div class="panel-body">
      <label for="income0">Annual income</label>
      <input id="income0" type="number" class="form-control income" value="80000"></input>
      <label for="expenses0">Annual expenses</label>
      <input id="expenses0" type="number" class="form-control expenses" value="40000" onchange="$(this).closest('form').find('input.rexpenses').val(this.value)"></input>
      <label>Current networth</label>
      <input id="networth0" type="number" class="form-control networth" value="0"></input>

      <a href="#options0" data-toggle="collapse">More options</a>
      <div id="options0" class="collapse">
        <label>Annual return on investment (%)</label>
        <input id="roi0" value="5" type="number" class="form-control roi"></input>
        <label>Annual withdrawal rate (%)</label>
        <input id="swr0" value="4" type="number" class="form-control swr"></input>
        <label class=form-control">
          <input type="checkbox" onclick="$(this).closest('form').find('div.retirement-expenses').toggle()"></input>
          <span>My spending level will change when I retire</span>
        </label>
        <div hidden class="retirement-expenses">
          <label>Annual expenses in retirement</label>
          <input id="rexpenses0" value="40000" type="number" class="form-control rexpenses"></input>
        </div>
      </div>
    </div> <!-- panel-body -->
  </div>  <!-- panel -->
</form>
{% endmacro %}


{#
  Render a bootstrap panel template to display text-based results for a
  calculation
#}
{% macro result_template() %}
<div id="result0" class="hidden result col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-stop color"></span>
        <span class="name">Scenario 1</span>
      </h3>
    </div>
    <div class="panel-body">
      With an expected annual spending level of <b>$</b><b class="rexpenses"></b>
      in retirement and an assumed annual safe
      withdrawal rate of <b class="swr"></b>%, you will need to build up
      <b>$</b><b class="nestegg"></b> in investments to be considered
      financially independent. Saving <b>$</b><b class="savings"></b> annually
      (and <b class="roi"></b>% annual return on investment), this will take
      <b class="years"></b> years.
    </div>
  </div>
</div>
{% endmacro %}


{# Render the div that Plotly will use to graph #}
{% macro graph() %}
<div id="canvas_div"></div>
{% endmacro %}


{% macro janitor_ceo_link(text) %}
<a href='{{ url_for(".index",
                    income1=40000,
                    expenses1=20000,
                    rexpenses1=20000,
                    networth1=0,
                    name1="Janitor",
                    color1="#10aa10",
                    income2=1000000,
                    expenses2=850000,
                    rexpenses2=850000,
                    networth2=0,
                    name2="CEO",
                    color2="#fc0600",
                   ) }}'>
  {{ text }}
</a>
{% endmacro %}


{% macro mmm_retirement_math(text) %}
<a href="http://www.mrmoneymustache.com/2012/01/13/the-shockingly-simple-math-behind-early-retirement/">{{ text }}</a>
{% endmacro %}
