{# macros.html - Contains simple macros for rendering parts of the page #}

{# Render a form template used for calculating financial independence #}
{% macro form_template() %}
<form id="form0" class="hidden form-horizontal col-sm-4">
  <label for="income0">Annual income</label>
  <button type="button" class="close" aria-label="Close"
    onclick="this.parentElement.parentElement.removeChild(this.parentElement);"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <input id="income0" class="form-control income" value="80000"></input>
  <label for="expenses0">Annual expenses</label>
  <input id="expenses0" class="form-control expenses" value="40000"></input>
  <label>Current networth</label>
  <input id="networth0" class="form-control networth" value="0"></input>

  <a href="#options0" data-toggle="collapse">More options</a>
  <div id="options0" class="collapse">
    <label>Annual return on investment (%)</label>
    <input id="roi0" value=5 class="form-control roi"></input>
    <label>Annual withdrawal rate (%)</label>
    <input id="swr0" value=4 class="form-control swr"></input>
    <label>Name</label>
    <input id="name0" value="Scenario 0" class="form-control name"></input>
    <label>Color</label>
    <input id="color0" value="#00aaff" class="form-control color" type="color"></input>
  </div>
</form>
{% endmacro %}


{#
  Render a bootstrap panel template to display text-based results for a
  calculation
#}
{% macro result_template() %}
<div id="result0" class="hidden result col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="glyphicon glyphicon-stop color"></span>
        <span class="name">Scenario 1</span>
      </h3>
    </div>
    <div class="panel-body">
      With annual expenses of <b>$</b><b class="expenses"></b> and an assumed
      annual safe withdrawal rate of <b class="swr"></b>%, you will need to
      build up <b>$</b><b class="nestegg"></b> in investments to be considered
      financially independent. Saving <b>$</b><b class="savings"></b> annually
      (and <b class="roi"></b>% annual return on investment), this will take
      <b class="years"></b> years.
    </div>
  </div>
</div>
{% endmacro %}


{# Render the div that Plotly will use to graph #}
{% macro graph() %}
<div id="canvas_div"></div>
{% endmacro %}


{% macro janitor_ceo_link(text) %}
<a href='{{ url_for(".index",
                    income1=40000,
                    expenses1=20000,
                    networth1=0,
                    name1="Janitor",
                    color1="#10aa10",
                    income2=1000000,
                    expenses2=850000,
                    networth2=0,
                    name2="CEO",
                    color2="#fc0600",
                   ) }}'>
  {{ text }}
</a>
{% endmacro %}
